body {
    font-family: "Avenir Next";
}

.header{
    background-color: #5f0f40;
    color:#ff4;
    height: 90px;
}
.videowindow{
    float: left;
    width:auto;
    padding: 30px;
}




